---
import type {
  IndexDefinition,
  TableRowsDefinition,
  CategoryDefinition,
} from "src/types/types";
import {
  tableReshape,
  normalizePollutantLabel,
  normalizeUnitsLabel,
  reshapeTableData,
} from "../utils/utils";
import { loadIndex } from "@data/loaders";

import '@assets/styles/breakpoints-table.scss';

const { index, rangeValue, labelValue, variant } = Astro.props;
const breakpoints = loadIndex(index);

let filteredContent = breakpoints
if (variant) {
    filteredContent = filteredContent.filter((o: IndexDefinition) => o.variant === variant)
}

let label = true;
let range = true;

if (typeof labelValue !== "undefined") {
  label = labelValue;
}
if (typeof rangeValue !== "undefined") {
  range = rangeValue;
}

const seen = new Set();
const headerColumns = filteredContent
  .map((i: IndexDefinition) => {
    const categoryText = label ? i.category : "";
    const rangeText = i.categoryUpper
      ? `-${i.categoryUpper}`
      : range
        ? "+"
        : "";
    return {
      categoryText,
      categoryLower: i.categoryLower,

      rangeText,
    };
  })
  .filter((item: object) => {
    const key = JSON.stringify(item);
    if (seen.has(key)) return false;
    seen.add(key);
    return true;
  });

const reshapedData = reshapeTableData(filteredContent);

const finalTableRows: TableRowsDefinition = tableReshape(reshapedData);
---

<table class="breakpoints-table">
  <thead>
    <tr>
      <th>Pollutant</th>
      <th>Averaging period</th>
      {
        headerColumns.map((col: CategoryDefinition) => (
          <th>
            {col.categoryText}
            <br />
            {`${col.categoryLower}${col.rangeText}`}
          </th>
        ))
      }
    </tr>
  </thead>
  <tbody>
    {
      Object.entries(finalTableRows).map(([key, values]) => {
        const [pollutant, avgPeriod] = key.split("-");
        const [measurand, units] = pollutant.split(" ");
        const unitsLabel = normalizeUnitsLabel(units);
        return (
          <tr>
            <td>
              <Fragment set:html={normalizePollutantLabel(measurand)} />{" "}
              {unitsLabel}
            </td>
            <td>{avgPeriod} hr.</td>
            {headerColumns.map((header: CategoryDefinition) => {
              const match = values.find(
                (v: IndexDefinition) => v.categoryLower === header.categoryLower
              );

              return (
                <td>
                  {typeof match?.concentrationLower !== "undefined"
                    ? match.concentrationLower === 0 &&
                      match.concentrationUpper === 0
                      ? "-"
                      : `${match.concentrationLower}${match.concentrationUpper ? `-${match.concentrationUpper}` : "+"}`
                    : "-"}
                </td>
              );
            })}
          </tr>
        );
      })
    }
  </tbody>
</table>
