---
import type { ColorScaleDefinition } from "src/types/types";
import { getContrast } from "../utils/colors";

import '@assets/styles/color-scale-chart.scss';

const { colorScale } = Astro.props;

const labelMap = new Map();

for (const item of colorScale) {
  if (labelMap.has(item.label)) {
    const labelEntry = labelMap.get(item.label);
    labelEntry.ranges.push(item.range);
    labelEntry.colors.push(item.color);
  } else {
    labelMap.set(item.label, {
      ranges: [item.range],
      colors: [item.color],
    });
  }
}

const uniqueColorScaleLabels = [];

for (const [label, { ranges, colors }] of labelMap) {
  uniqueColorScaleLabels.push({
    label,
    colors,
    range: ranges.join(", "),
  });
}
---


<div class="color-scale__wrapper">
  <div class="color-scale__mobile">
    <div class="color-scale">
      {
        colorScale.map((o: ColorScaleDefinition) => (
          <div
            class="color-scale__item"
            style={`background-color: ${o.color}; color: ${getContrast(o.color)}`}
          >
            <p>{o.range}</p>
          </div>
        ))
      }
    </div>

    <div class="color-scale__labels">
      <ul>
        {
          uniqueColorScaleLabels.map((o) => (
            <li class="list-wrapper">
              {o.colors.map((color: ColorScaleDefinition) => (
                <div
                  class="label-color-box"
                  style={`background-color: ${color}`}
                />
              ))}
              <span>{`${o.label}`}</span>
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <div class="color-scale__desktop">
    <div class="color-scale">
      {
        colorScale.map((o: ColorScaleDefinition) => (
          <div
            class="color-scale__item"
            style={`background-color: ${o.color}; color: ${getContrast(o.color)}`}
          >
            <span class="definition__label">{o.label}</span>
            <span class="definition__range">{o.range}</span>
          </div>
        ))
      }
    </div>
  </div>
</div>
