---
import PageLayout from "./PageLayout.astro";

const { name, indexName, indexAcronym } = Astro.props;
---

<style lang="scss">
  h2 {
    font-size: 20px;
    text-decoration: underline;
    font-weight: 400;
    margin-bottom: 1rem;
  }
</style>

<PageLayout pageTitle={`AQI Hub ${name} (${indexAcronym})`}>
  <h1>{name}</h1>
  <h2>{indexName} ({indexAcronym})</h2>
  <article>
    <slot />
  </article>
</PageLayout>
